<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>App UI Kit | Front - Multipurpose Responsive Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/./favicon.ico}">

    <!-- Font -->
    <link th:href="@{/https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap}" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" th:href="@{/./assets/vendor/bootstrap-icons/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/./assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css}">
    <link rel="stylesheet" th:href="@{/./assets/vendor/aos/dist/aos.css}">

    <!-- CSS Front Template -->
    <link rel="stylesheet" th:href="@{/./assets/css/theme.min.css}">
</head>

<body>
<!-- ========== HEADER ========== -->
<header id="header" class="navbar navbar-expand-lg navbar-floating navbar-end navbar-light">
    <div class="container">
        <nav class="js-mega-menu navbar-nav-wrap navbar-floating-nav bg-white">
            <!-- Default Logo -->
            <a class="navbar-brand" th:href="@{/./index.html}" aria-label="Front">
                <img class="navbar-brand-logo" th:src="@{/assets/svg/logos/delinori_logo.svg}" alt="Logo">
            </a>
            <!-- End Default Logo -->

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
                <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
            </button>
            <!-- End Toggler -->

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- Landings -->
                    <li class="hs-has-mega-menu nav-item">
                        <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link" aria-current="page" th:href="@{/#}" role="button" data-bs-toggle="dropdown" aria-expanded="false">공지사항</a>

                        <!-- Mega Menu -->
                        <div class="hs-mega-menu dropdown-menu w-100" aria-labelledby="landingsMegaMenu" style="min-width: 30rem;">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block">
                                    <!-- Banner Image -->
                                    <div class="navbar-dropdown-menu-banner" style="background-image: url(./assets/svg/components/shape-3.svg);">
                                        <div class="navbar-dropdown-menu-banner-content">
                                            <div class="mb-4">
                                                <span class="h2 d-block">Branding Works</span>
                                                <p>Experience a level of our quality in both design &amp; customization works.</p>
                                            </div>
                                            <a class="btn btn-primary btn-transition" th:href="@{/#}">Learn more <i class="bi-chevron-right small"></i></a>
                                        </div>
                                    </div>
                                    <!-- End Banner Image -->
                                </div>
                                <!-- End Col -->

                                <div class="col-lg-6">
                                    <div class="navbar-dropdown-menu-inner">
                                        <div class="row">
                                            <div class="col-sm mb-3 mb-sm-0">
                                                <span class="dropdown-header">Classic</span>
                                                <a class="dropdown-item " th:href="@{/./landing-classic-corporate.html}">Corporate</a>
                                                <a class="dropdown-item " th:href="@{/./landing-classic-analytics.html}">Analytics <span class="badge bg-primary rounded-pill ms-1">Hot</span></a>
                                                <a class="dropdown-item " th:href="@{/./landing-classic-studio.html}">Studio</a>
                                                <a class="dropdown-item " th:href="@{/./landing-classic-marketing.html}">Marketing</a>
                                                <a class="dropdown-item " th:href="@{/./landing-classic-advertisement.html}">Advertisement</a>
                                                <a class="dropdown-item " th:href="@{/./landing-classic-consulting.html}">Consulting</a>
                                                <a class="dropdown-item " th:href="@{/./landing-classic-portfolio.html}">Portfolio</a>
                                                <a class="dropdown-item " th:href="@{/./landing-classic-software.html}">Software</a>
                                                <a class="dropdown-item " th:href="@{/./landing-classic-business.html}">Business</a>
                                            </div>
                                            <!-- End Col -->

                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <span class="dropdown-header">App</span>
                                                    <a class="dropdown-item active" th:href="@{/./landing-app-ui-kit.html}">UI Kit</a>
                                                    <a class="dropdown-item " th:href="@{/./landing-app-saas.html}">SaaS</a>
                                                    <a class="dropdown-item " th:href="@{/./landing-app-workflow.html}">Workflow</a>
                                                    <a class="dropdown-item " th:href="@{/./landing-app-payment.html}">Payment</a>
                                                    <a class="dropdown-item " th:href="@{/./landing-app-tool.html}">Tool</a>
                                                </div>

                                                <span class="dropdown-header">Onepage</span>
                                                <a class="dropdown-item " th:href="@{/./landing-onepage-corporate.html}">Corporate</a>
                                                <a class="dropdown-item " th:href="@{/./landing-onepage-saas.html}">SaaS <span class="badge bg-primary rounded-pill ms-1">Hot</span></a>
                                            </div>
                                            <!-- End Col -->
                                        </div>
                                        <!-- End Row -->
                                    </div>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>
                        <!-- End Mega Menu -->
                    </li>
                    <!-- End Landings -->

                    <!-- Company -->
                    <li class="hs-has-sub-menu nav-item">
                        <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link " th:href="@{/#}" role="button" data-bs-toggle="dropdown" aria-expanded="false">문의사항</a>

                        <!-- Mega Menu -->
                        <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">
                            <a class="dropdown-item " th:href="@{/./page-about.html}">About</a>
                            <a class="dropdown-item " th:href="@{/./page-services.html}">Services</a>
                            <a class="dropdown-item " th:href="@{/./page-customer-stories.html}">Customer Stories</a>
                            <a class="dropdown-item " th:href="@{/./page-customer-story.html}">Customer Story</a>
                            <a class="dropdown-item " th:href="@{/./page-careers.html}">Careers</a>
                            <a class="dropdown-item " th:href="@{/./page-careers-overview.html}">Careers Overview</a>
                            <a class="dropdown-item " th:href="@{/./page-hire-us.html}">Hire Us</a>
                            <a class="dropdown-item " th:href="@{/./page-pricing.html}">Pricing</a>
                            <a class="dropdown-item " th:href="@{/./page-contacts-agency.html}">Contacts: Agency</a>
                            <a class="dropdown-item " th:href="@{/./page-contacts-startup.html}">Contacts: Startup</a>
                        </div>
                        <!-- End Mega Menu -->
                    </li>
                    <!-- End Company -->

                    <!-- Account -->
                    <li class="hs-has-sub-menu nav-item">
                        <a id="accountMegaMenu" class="hs-mega-menu-invoker nav-link " th:href="@{/#}" role="button" data-bs-toggle="dropdown" aria-expanded="false">중고거래</a>

                        <!-- Mega Menu -->
                        <div class="hs-sub-menu dropdown-menu" aria-labelledby="accountMegaMenu" style="min-width: 14rem;">
                            <!-- Authentication -->
                            <div class="hs-has-sub-menu nav-item">
                                <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle " th:href="@{/#}" role="button" data-bs-toggle="dropdown" aria-expanded="false">Authentication</a>

                                <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
                                    <a class="dropdown-item" th:href="@{/#}" data-bs-toggle="modal" data-bs-target="#signupModal">Signup Modal</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item " th:href="@{/./page-login.html}">Login</a>
                                    <a class="dropdown-item " th:href="@{/./page-signup.html}">Signup</a>
                                    <a class="dropdown-item " th:href="@{/./page-reset-password.html}">Reset Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item " th:href="@{/./page-login-simple.html}">Login Simple</a>
                                    <a class="dropdown-item " th:href="@{/./page-signup-simple.html}">Signup Simple</a>
                                    <a class="dropdown-item " th:href="@{/./page-reset-password-simple.html}">Reset Password Simple</a>
                                </div>
                            </div>
                            <!-- End Authentication -->

                            <a class="dropdown-item " th:href="@{/./account-overview.html}">Personal Info</a>
                            <a class="dropdown-item " th:href="@{/./account-security.html}">Security</a>
                            <a class="dropdown-item " th:href="@{/./account-notifications.html}">Notifications</a>
                            <a class="dropdown-item " th:href="@{/./account-preferences.html}">Preferences</a>
                            <a class="dropdown-item " th:href="@{/./account-orders.html}">Orders</a>
                            <a class="dropdown-item " th:href="@{/./account-wishlist.html}">Wishlist</a>
                            <a class="dropdown-item " th:href="@{/./account-payments.html}">Payments</a>
                            <a class="dropdown-item " th:href="@{/./account-address.html}">Address</a>
                            <a class="dropdown-item " th:href="@{/./account-teams.html}">Teams</a>
                        </div>
                        <!-- End Mega Menu -->
                    </li>
                    <!-- End Account -->

                    <!-- Pages -->
                    <li class="hs-has-sub-menu nav-item">
                        <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link" th:href="@{/#}" role="button" data-bs-toggle="dropdown" aria-expanded="false">자유게시판</a>

                        <!-- Mega Menu -->
                        <div class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 14rem;">
                            <a class="dropdown-item " th:href="@{/./page-faq.html}">FAQ</a>
                            <a class="dropdown-item " th:href="@{/./page-terms.html}">Terms &amp; Conditions</a>
                            <a class="dropdown-item " th:href="@{/./page-privacy.html}">Privacy &amp; Policy</a>
                            <a class="dropdown-item " th:href="@{/./page-coming-soon.html}">Coming Soon</a>
                            <a class="dropdown-item " th:href="@{/./page-maintenance-mode.html}">Maintenance Mode</a>
                            <a class="dropdown-item " th:href="@{/./page-status.html}">Status</a>
                            <a class="dropdown-item " th:href="@{/./page-invoice.html}">Invoice</a>
                            <a class="dropdown-item " th:href="@{/./page-error-404.html}">Error 404</a>
                        </div>
                        <!-- End Mega Menu -->
                    </li>
                    <!-- End Pages -->

                    <!-- Blog -->
                    <li class="hs-has-sub-menu nav-item">
                        <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link" th:href="@{/#}" role="button" data-bs-toggle="dropdown" aria-expanded="false">딜리 찾기</a>

                        <!-- Mega Menu -->
                        <div class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 14rem;">
                            <a class="dropdown-item " th:href="@{/./blog-journal.html}">Journal</a>
                            <a class="dropdown-item " th:href="@{/./blog-metro.html}">Metro</a>
                            <a class="dropdown-item " th:href="@{/./blog-newsroom.html}">Newsroom</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " th:href="@{/./blog-article.html}">Article</a>
                            <a class="dropdown-item " th:href="@{/./blog-author-profile.html}">Author Profile</a>
                        </div>
                        <!-- End Mega Menu -->
                    </li>
                    <!-- End Blog -->

                    <!-- Portfolio -->
                    <li class="hs-has-sub-menu nav-item">
                        <a id="portfolioMegaMenu" class="hs-mega-menu-invoker nav-link" th:href="@{/#}" role="button" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>

                        <!-- Mega Menu -->
                        <div class="hs-sub-menu dropdown-menu" aria-labelledby="portfolioMegaMenu" style="min-width: 14rem;">
                            <a class="dropdown-item " th:href="@{/./portfolio-grid.html}">Grid</a>
                            <a class="dropdown-item " th:href="@{/./portfolio-product-article.html}">Product Article</a>
                            <a class="dropdown-item " th:href="@{/./portfolio-case-studies-branding.html}">Case Studies: Branding</a>
                            <a class="dropdown-item " th:href="@{/./portfolio-case-studies-product.html}">Case Studies: Product</a>
                        </div>
                        <!-- End Mega Menu -->
                    </li>
                    <!-- End Portfolio -->

                    <!-- Button -->
                    <li class="nav-item">
                        <a class="btn btn-primary btn-transition" th:href="@{/https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/}" target="_blank">로그인</a>
                    </li>
                    <!-- End Button -->
                </ul>
            </div>
            <!-- End Collapse -->
        </nav>
    </div>
</header>


<div layout:fragment="content">

</div>


<!-- ========== FOOTER ========== -->
<footer>
    <div class="container content-space-t-2 content-space-b-1">
        <div class="row align-items-center">
            <div class="col">
                <p class="text-dark-70 small mb-0">&copy; 2021. Delinori All rights reserved.</p>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</footer>
<!-- ========== END FOOTER ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Sign Up -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-close">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="modal-body">
                <!-- Log in -->
                <div id="signupModalFormLogin" style="display: none; opacity: 0;">
                    <!-- Heading -->
                    <div class="text-center mb-7">
                        <h2>Log in</h2>
                        <p>Don't have an account yet?
                            <a class="js-animation-link link" th:href="@{/javascript:}" role="button"
                               data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormSignup",
                         "groupName": "idForm"
                       }'>Sign up</a>
                        </p>
                    </div>
                    <!-- End Heading -->

                    <div class="d-grid gap-2">
                        <a class="btn btn-white btn-lg" th:href="@{/#}">
                <span class="d-flex justify-content-center align-items-center">
                  <img class="avatar avatar-xss me-2" th:src="@{/assets/svg/brands/google-icon.svg}" alt="Image Description">
                  Log in with Google
                </span>
                        </a>

                        <a class="js-animation-link btn btn-primary btn-lg" th:href="@{/#}"
                           data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormLoginWithEmail",
                       "groupName": "idForm"
                     }'>Log in with Email</a>
                    </div>
                </div>
                <!-- End Log in -->

                <!-- Log in with Modal -->
                <div id="signupModalFormLoginWithEmail" style="display: none; opacity: 0;">
                    <!-- Heading -->
                    <div class="text-center mb-7">
                        <h2>Log in</h2>
                        <p>Don't have an account yet?
                            <a class="js-animation-link link" th:href="@{/javascript:;}" role="button"
                               data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormSignup",
                         "groupName": "idForm"
                       }'>Sign up</a>
                        </p>
                    </div>
                    <!-- End Heading -->

                    <form class="js-validate needs-validation" novalidate>
                        <!-- Form -->
                        <div class="mb-3">
                            <label class="form-label" for="signupModalFormLoginEmail">Your email</label>
                            <input type="email" class="form-control form-control-lg" name="email" id="signupModalFormLoginEmail" placeholder="email@site.com" aria-label="email@site.com" required>
                            <span class="invalid-feedback">Please enter a valid email address.</span>
                        </div>
                        <!-- End Form -->

                        <!-- Form -->
                        <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="form-label" for="signupModalFormLoginPassword">Password</label>

                                <a class="js-animation-link form-label-link" th:href="@{/javascript:;}"
                                   data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormResetPassword",
                       "groupName": "idForm"
                     }'>Forgot Password?</a>
                            </div>

                            <input type="password" class="form-control form-control-lg" name="password" id="signupModalFormLoginPassword" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8">
                            <span class="invalid-feedback">Please enter a valid password.</span>
                        </div>
                        <!-- End Form -->

                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary form-control-lg">Log in</button>
                        </div>
                    </form>
                </div>
                <!-- End Log in with Modal -->

                <!-- Sign up -->
                <div id="signupModalFormSignup">
                    <!-- Heading -->
                    <div class="text-center mb-7">
                        <h2>Sign up</h2>
                        <p>Already have an account?
                            <a class="js-animation-link link" th:href="@{/javascript:;}" role="button"
                               data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormLogin",
                         "groupName": "idForm"
                       }'>Log in</a>
                        </p>
                    </div>
                    <!-- End Heading -->

                    <div class="d-grid gap-3">
                        <a class="btn btn-white btn-lg" th:href="@{/#}">
                <span class="d-flex justify-content-center align-items-center">
                  <img class="avatar avatar-xss me-2" th:src="@{/assets/svg/brands/google-icon.svg}" alt="Image Description">
                  Sign up with Google
                </span>
                        </a>

                        <a class="js-animation-link btn btn-primary btn-lg" th:href="@{/#}"
                           data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormSignupWithEmail",
                       "groupName": "idForm"
                     }'>Sign up with Email</a>

                        <div class="text-center">
                            <p class="small mb-0">By continuing you agree to our <a th:href="@{/#}">Terms and Conditions</a></p>
                        </div>
                    </div>
                </div>
                <!-- End Sign up -->

                <!-- Sign up with Modal -->
                <div id="signupModalFormSignupWithEmail" style="display: none; opacity: 0;">
                    <!-- Heading -->
                    <div class="text-center mb-7">
                        <h2>Sign up</h2>
                        <p>Already have an account?
                            <a class="js-animation-link link" th:href="@{/javascript:;}" role="button"
                               data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormLogin",
                         "groupName": "idForm"
                       }'>Log in</a>
                        </p>
                    </div>
                    <!-- End Heading -->

                    <form class="js-validate need-validate" novalidate>
                        <!-- Form -->
                        <div class="mb-3">
                            <label class="form-label" for="signupModalFormSignupEmail">Your email</label>
                            <input type="email" class="form-control form-control-lg" name="email" id="signupModalFormSignupEmail" placeholder="email@site.com" aria-label="email@site.com" required>
                            <span class="invalid-feedback">Please enter a valid email address.</span>
                        </div>
                        <!-- End Form -->

                        <!-- Form -->
                        <div class="mb-3">
                            <label class="form-label" for="signupModalFormSignupPassword">Password</label>
                            <input type="password" class="form-control form-control-lg" name="password" id="signupModalFormSignupPassword" placeholder="8+ characters required" aria-label="8+ characters required" required>
                            <span class="invalid-feedback">Your password is invalid. Please try again.</span>
                        </div>
                        <!-- End Form -->

                        <!-- Form -->
                        <div class="mb-3" data-hs-validation-validate-class>
                            <label class="form-label" for="signupModalFormSignupConfirmPassword">Confirm password</label>
                            <input type="password" class="form-control form-control-lg" name="confirmPassword" id="signupModalFormSignupConfirmPassword" placeholder="8+ characters required" aria-label="8+ characters required" required
                                   data-hs-validation-equal-field="#signupModalFormSignupPassword">
                            <span class="invalid-feedback">Password does not match the confirm password.</span>
                        </div>
                        <!-- End Form -->

                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary form-control-lg">Sign up</button>
                        </div>

                        <div class="text-center">
                            <p class="small mb-0">By continuing you agree to our <a th:href="@{/#}">Terms and Conditions</a></p>
                        </div>
                    </form>
                </div>
                <!-- End Sign up with Modal -->

                <!-- Reset Password -->
                <div id="signupModalFormResetPassword" style="display: none; opacity: 0;">
                    <!-- Heading -->
                    <div class="text-center mb-7">
                        <h2>Forgot password?</h2>
                        <p>Enter the email address you used when you joined and we'll send you instructions to reset your password.</p>
                    </div>
                    <!-- En dHeading -->

                    <form class="js-validate need-validate" novalidate>
                        <div class="mb-3">
                            <!-- Form -->
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="form-label" for="signupModalFormResetPasswordEmail" tabindex="0">Your email</label>

                                <a class="js-animation-link form-label-link" th:href="@{/javascript:;}"
                                   data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormLogin",
                         "groupName": "idForm"
                       }'>
                                    <i class="bi-chevron-left small"></i> Back to Log in
                                </a>
                            </div>

                            <input type="email" class="form-control form-control-lg" name="email" id="signupModalFormResetPasswordEmail" tabindex="1" placeholder="Enter your email address" aria-label="Enter your email address" required>
                            <span class="invalid-feedback">Please enter a valid email address.</span>
                            <!-- End Form -->
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary form-control-lg">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- End Reset Password -->
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div class="modal-footer d-block text-center py-sm-5">
                <small class="text-cap mb-4">Trusted by the world's best teams</small>

                <div class="w-85 mx-auto">
                    <div class="row justify-content-between">
                        <div class="col">
                            <img class="img-fluid" th:src="@{/assets/svg/brands/gitlab-gray.svg}" alt="Logo">
                        </div>
                        <!-- End Col -->

                        <div class="col">
                            <img class="img-fluid" th:src="@{/assets/svg/brands/fitbit-gray.svg}" alt="Logo">
                        </div>
                        <!-- End Col -->

                        <div class="col">
                            <img class="img-fluid" th:src="@{/assets/svg/brands/flow-xo-gray.svg}" alt="Logo">
                        </div>
                        <!-- End Col -->

                        <div class="col">
                            <img class="img-fluid" th:src="@{/assets/svg/brands/layar-gray.svg}" alt="Logo">
                        </div>
                        <!-- End Col -->
                    </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Footer -->
        </div>
    </div>
</div>

<!-- Go To -->
<a class="js-go-to go-to position-fixed" th:href="@{/javascript:;}" style="visibility: hidden;"
   data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
</a>
<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- JS Global Compulsory  -->
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<!-- JS Implementing Plugins -->
<script th:src="@{/assets/vendor/hs-header/dist/hs-header.min.js}"></script>
<script th:src="@{/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js}"></script>
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>
<script th:src="@{/assets/vendor/hs-go-to/dist/hs-go-to.min.js}"></script>
<script th:src="@{/assets/vendor/fslightbox/index.js}"></script>

<!-- JS Front -->
<script th:src="@{/assets/js/theme.min.js}"></script>

<!-- JS Plugins Init. -->
<script>
    (function() {
        // INITIALIZATION OF HEADER
        // =======================================================
        new HSHeader('#header').init()


        // INITIALIZATION OF MEGA MENU
        // =======================================================
        new HSMegaMenu('.js-mega-menu', {
            desktop: {
                position: 'left'
            }
        })


        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo('.js-go-to')


        // INITIALIZATION OF AOS
        // =======================================================
        AOS.init({
            duration: 650,
            once: true
        });
    })()
</script>
</body>
</html>
